html,
body {
   font-size: 14px;
   background-color: #e8e6ea;

   color: #f3f4f6;
   margin: 0;

   box-sizing: border-box;

   height: 100%;
   width: 100%;
}

*,
*:before,
*:after {
   box-sizing: inherit;
   font-family: 'League Spartan', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
a,
p {
   margin: 0;
   padding: 0;
}

h2 {
   font-weight: 600;
   font-size: 20px;
   color: #dc2626;
}

p {
   font-weight: 400;
}

button,
a {
   cursor: pointer;
}
